@import url('will-be-slow.css') screen;

@media screen, print {
  body { font-size: 13px; }
}

#some-id,
.some-class,
div:first-child:not(.some-modifier),
.some-parent > .some-child {
  
  /* Border */
  border: 1px solid black;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  /* Multi-Column Layout */
  columns: 3;
  column-count: 3;
  column-fill: balance;
  column-gap: 20px;
  column-rule: 1px solid #ccc;
  column-span: all;
  column-width: 0.3vw;
  column-rule-color: #ccc;
  column-rule-style: solid;
  column-rule-width: 1px;

  /* Filters */
  filter: blur(5px);
  filter: brightness(0.5);
  filter: contrast(200%);
  filter: drop-shadow(16px 16px 10px black);
  filter: grayscale(100%);
  filter: hue-rotate(90deg);
  filter: invert(100%);
  filter: opacity(50%);
  filter: saturate(200%);
  filter: sepia(100%);

  /* Flex-box */
  flex-basis: 18em;
  flex-flow: column-reverse wrap;
  flex-grow: 3;
  flex-wrap: wrap;
  flex-shrink: 2;
  flex-direction: column-reverse;

  /* Transforms */
  backface-visibility: hidden;
  transform: translateX(10px) rotate(10deg) translateY(5px);
  transform-origin: 10px;
  transform-style: preserve-3d;
}
