@import url('will-be-slow.css') screen;

@media screen, print, (min-width: 640px) {
  body { font-size: 13px; }
}

@media (hover: none) {
  button:hover { background: unset; }
}

@supports not (display: flex) {
  .-bar-layout { display: block; }
}

@keyframes identifier {
  0% { top: 0; left: 0; }
  30% { top: 50px; }
  68%, 72% { left: 50px; }
  100% { top: 100px; left: 100%; }
}

:root {
  --angle: 45deg;
  --expanded: translate(-50%,-50%) scale(1.1) rotate(calc(var(--angle) * 0.9));
  --shade: #000;
}

/* Selectors */
[data-some-attribute],
#some-id,
.some-class,
div:nth-child(2n):nth-child(even):nth-child(odd),
div:first-child:not(.some-modifier),
.some-parent > .some-child:first-child {

  background: var(--shade) url(/bg.png);
  top: calc((var(--offset) + var(--gutter)) / 2);

  /* Animation */
  animation: move_eye 4s linear 0s infinite alternate;
  animation-delay: 3s;
  animation-duration: 3s;
  animation-direction: alternate, reverse, alternate-reverse, normal;
  animation-fill-mode: none, forwards, backwards, both;
  animation-iteration-count: infinite;
  animation-name: slidein;
  animation-play-state: paused, running;
  animation-timing-function: ease, ease-in, ease-out, ease-in-out;
  animation-timing-function: linear, step-start, step-end, steps(4, end);
  animation-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);

  /* Border */
  border: 1px solid black;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  /* Layout */
  columns: 3;
  column-count: 3;
  column-fill: balance;
  column-gap: 20px;
  column-rule: 1px solid #ccc;
  column-span: all;
  column-width: 0.3vw;
  column-rule-color: #ccc;
  column-rule-style: solid;
  column-rule-width: 1px;
  /* <'grid-template'> values */
  grid: none;
  grid: "a" 100px "b" 1fr;
  grid: linename1 "a" 100px linename2;
  grid: "a" 200px "b" min-content;
  grid: "a" minmax(100px, max-content) "b" 20%;
  grid: 100px / 200px;
  grid: minmax(400px, min-content) / repeat(auto-fill, 50px);
  /* <'grid-template-rows'> /
     [ auto-flow && dense? ] <'grid-auto-columns'>? values */
  grid: 200px / auto-flow;
  grid: 30% / auto-flow dense;
  grid: repeat(3, line1 line2 line3 200px) / auto-flow 300px;
  grid: line1 minmax(20em, max-content) / auto-flow dense 40%;
  /* [ auto-flow && dense? ] <'grid-auto-rows'>? /
     <'grid-template-columns'> values */
  grid: auto-flow / 200px;
  grid: auto-flow dense / 30%;
  grid: auto-flow 300px / repeat(3, [line1 line2 line3] 200px);
  grid: auto-flow dense 40% / [line1] minmax(20em, max-content);
  /* less shorthand */
  grid-area: 2 / 1 / 2 / 4;
  grid-auto-columns: min-content;
  grid-auto-flow: row dense;
  grid-auto-rows: minmax(10px, auto);
  grid-column: 1 / span 2;
  grid-column-end: span 2;
  grid-column-start: 1;
  grid-row: 2 / -1;
  grid-row-end: -1;
  grid-row-start: 2;
  grid-template: "a a ." 60px 60px
                 "a a ." 3ch auto minmax(10px, 60px)
                 "b b c" auto / 2em 3em auto;
  grid-template-columns: 60px 60px;
  grid-template-rows: 3ch auto minmax(10px, 60px);
  grid-template-areas: "a a ."
                       "a a ."
                       "b b c";

  /* Filters */
  filter: blur(5px);
  filter: brightness(0.5);
  filter: contrast(200%);
  filter: drop-shadow(16px 16px 10px black);
  filter: grayscale(100%);
  filter: hue-rotate(90deg);
  filter: invert(100%);
  filter: opacity(50%);
  filter: saturate(200%);
  filter: sepia(100%);
  mix-blend-mode: multiply;
  mix-blend-mode: hard-light;

  /* Flex-box */
  flex-basis: 18em;
  flex-flow: column-reverse wrap;
  flex-grow: 3;
  flex-wrap: wrap;
  flex-shrink: 2;
  flex-direction: column-reverse;

  /* Print */
  page-break-after: auto;
  page-break-before: auto;
  page-break-inside: auto;

  /* Shadows */
  box-shadow:
    inset 0 0 0 1px var(--highlight-weak), /* inner edge */
    inset 0 0 var(--corner) var(--shade-2), /* contour */
    0 var(--depth) 0 var(--dark), /* edge */
    0 calc(var(--depth) + 1px) 0 var(--darker), /* edge shadow */
    0 var(--depth) 3px 1px var(--shade-5); /* diffuse */

  /* Transforms */
  backface-visibility: hidden;
  transform: translateX(10px) rotate(10deg) translateY(5px);
  transform-origin: 10px;
  transform-style: preserve-3d;

  /* Text */
  text-overflow: clip;
  text-overflow-mode: clip;

  /* Vendor Prefix */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

circle {
  fill-opacity: 0.3;
}
