@import url('will-be-slow.css') screen;

@media screen, print {
  body { font-size: 13px; }
}

@keyframes identifier {
  0% { top: 0; left: 0; }
  30% { top: 50px; }
  68%, 72% { left: 50px; }
  100% { top: 100px; left: 100%; }
}

:root {
  --angle: 45deg;
  --expanded: translate(-50%,-50%) scale(1.1) rotate(calc(var(--angle)));
  --shade: #000;
}

#some-id,
.some-class,
div:first-child:not(.some-modifier),
.some-parent > .some-child {
  background: var(--shade);

  /* Animation */
  animation: move_eye 4s linear 0s infinite alternate;
  animation-delay: 3s;
  animation-duration: 3s;
  animation-direction: alternate, reverse, alternate-reverse, normal;
  animation-fill-mode: none, forwards, backwards, both;
  animation-iteration-count: infinite;
  animation-name: slidein;
  animation-play-state: paused, running;
  animation-timing-function: ease, ease-in, ease-out, ease-in-out;
  animation-timing-function: linear, step-start, step-end, steps(4, end);
  animation-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);

  /* Border */
  border: 1px solid black;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  /* Multi-Column Layout */
  columns: 3;
  column-count: 3;
  column-fill: balance;
  column-gap: 20px;
  column-rule: 1px solid #ccc;
  column-span: all;
  column-width: 0.3vw;
  column-rule-color: #ccc;
  column-rule-style: solid;
  column-rule-width: 1px;

  /* Filters */
  filter: blur(5px);
  filter: brightness(0.5);
  filter: contrast(200%);
  filter: drop-shadow(16px 16px 10px black);
  filter: grayscale(100%);
  filter: hue-rotate(90deg);
  filter: invert(100%);
  filter: opacity(50%);
  filter: saturate(200%);
  filter: sepia(100%);
  mix-blend-mode: multiply;
  mix-blend-mode: hard-light;

  /* Flex-box */
  flex-basis: 18em;
  flex-flow: column-reverse wrap;
  flex-grow: 3;
  flex-wrap: wrap;
  flex-shrink: 2;
  flex-direction: column-reverse;

  /* Print */
  page-break-after: auto;
  page-break-before: auto;
  page-break-inside: auto;

  /* Transforms */
  backface-visibility: hidden;
  transform: translateX(10px) rotate(10deg) translateY(5px);
  transform-origin: 10px;
  transform-style: preserve-3d;

  /* Vendor Prefix */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
