* {
  padding: 0;
  margin: 0;
  color:rgb(223,223,223) !important;
  background:rgb(11,16,21) !important;
  font:11px/18px 'Consolas', monospace !important;
}
#tm_webpreview_header {
  display: none;
}
#todo_list {
  margin-top:-60px;
}
#todo_list table {
  clear: both;
  border-collapse: collapse;
}

#todo_list h3 {
  clear: both;
}

#todo_list th {
  white-space: nowrap;
  text-align: left;
}

#todo_list th a {
  text-decoration: none;
}

#todo_list td {
  padding: 0.5ex 1ex 0.5ex 0;
  vertical-align: top;
}

#todo_list td.file {
  max-width: 16em;
  text-wrap: unrestricted;
  word-wrap: break-word;
  white-space: nowrap;
}

#todo_list td.comment {
  min-width: 20em;
}

#todo_list .counters {
  padding: 0 0 1em 0;
}

#todo_list .counters li {
  display: block;
  padding: 0 4ex 1ex 0;
  border-collapse: collapse;
  min-width: 6em;
  text-align: left;
}

#todo_list td.type {
  padding: 2px;
}

#toplink {
  position: fixed;
  bottom: 1em;
  right: 1em;
}