<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>6CF9C610-6B2E-455C-AD25-8548EF8B4DAB</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>6CF9C610-6B2E-455C-AD25-8548EF8B4DAB</key>
			<dict>
				<key>items</key>
				<array>
					<string>BCA04734-0CF2-4B29-803B-68510D9C36B7</string>
					<string>C6549CED-83B1-493F-9915-CA0D87FD2B28</string>
					<string>918C2C87-07CE-45AC-9458-76CB06E693F3</string>
				</array>
				<key>name</key>
				<string>Comments</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>HLFCoding</string>
	<key>ordering</key>
	<array>
		<string>17620AFC-3260-486B-B6F3-ADF871C83980</string>
		<string>BCA04734-0CF2-4B29-803B-68510D9C36B7</string>
		<string>369ADD32-68B1-479E-B0CB-4629E07B090A</string>
		<string>C6549CED-83B1-493F-9915-CA0D87FD2B28</string>
		<string>918C2C87-07CE-45AC-9458-76CB06E693F3</string>
		<string>9A59EE7B-3E06-482D-8252-FDB642BC6C4E</string>
	</array>
	<key>uuid</key>
	<string>54DBB4E2-75CC-4FBD-8E00-47863378A766</string>
</dict>
</plist>
