<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>HLFCrafting</string>
	<key>uuid</key>
	<string>D3014ACF-2702-43E1-BD47-EB44F2335FD9</string>
</dict>
</plist>
